Repository ElHellnan/project-tracker-main: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: Add comprehensive README with setup instructions
  README.md
Due: prettier --write

feat: Convert to SQLite for local development
  QUICK_START.md
  client/package-lock.json
  server/.env.example
  server/prisma/schema.prisma
  server/simple-server.js
Due: prettier --write

Configure Netlify deployment with Functions
  client/package-lock.json
  client/src/utils/api.ts
  netlify.toml
  netlify/functions/api.js
  package.json
  server/package-lock.json
  server/package.json
  setup-windows.bat
Due: eslint --fix, prettier --write

Fix TypeScript build errors for Netlify deployment
  client/src/pages/Dashboard.tsx
  client/src/pages/Login.tsx
  client/src/pages/Projects.tsx
  client/src/store/authStore.ts
  client/src/store/projectStore.ts
  client/src/store/taskStore.ts
  client/src/utils/api.ts
Due: eslint --fix, prettier --write

Fix Netlify Functions 502 error - complete backend API
  netlify.toml
  netlify/functions/api.js
  netlify/functions/package.json
Due: prettier --write

FIXED: Complete Netlify Functions rebuild with proper error handling
  netlify.toml
  netlify/functions/api.js
  netlify/functions/package.json
  netlify/functions/prisma/migrations/20250721110818_init/migration.sql
  netlify/functions/prisma/migrations/migration_lock.toml
  netlify/functions/prisma/schema.prisma
Due: prettier --write

Fix netlify.toml syntax error - remove duplicate sections
  netlify.toml
Due: none

WORKING FIX: Replace database with in-memory store
  netlify.toml
  netlify/functions/api.js
  netlify/functions/package.json
Due: prettier --write

COMPLETE: Full project management functionality implemented
  netlify/functions/api.js
Due: none

FRONTEND FUNCTIONALITY FIXED: Working project and task management UI
  client/src/pages/Projects.tsx
  client/src/pages/Tasks.tsx
Due: eslint --fix, prettier --write

CRITICAL FIX: React JSX runtime and import path issues resolved
  client/package-lock.json
  client/package.json
  client/src/pages/Dashboard.tsx
  client/src/pages/Login.tsx
  client/src/pages/Projects.tsx
  client/src/pages/Register.tsx
  client/src/pages/Tasks.tsx
  client/vite.config.ts
Due: eslint --fix, prettier --write

CRITICAL AUTH FIX: Fixed 401 Unauthorized errors
  netlify/functions/api.js
Due: none

DEBUG: Enhanced authentication debugging and logging
  netlify/functions/api.js
  netlify/functions/debug-auth.js
Due: none

FINAL FIX: Complete rewrite of Netlify Function - GUARANTEED TO WORK
  netlify/functions/api.js
Due: none

WORKING NOW: Removed authentication requirement temporarily
  netlify/functions/api.js
  netlify/functions/debug-auth.js
Due: none

Implement Monday.com-style board interface with drag-and-drop
  client/src/pages/Board.tsx
  client/src/pages/Projects.tsx
  package-lock.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: client/**/*.{ts,tsx}) or (any of: server/**/*.{ts})
  prettier --write: ((any of: client/**/*.{ts,tsx}) or (any of: server/**/*.{ts})) or (any of: **/*.{json,md})
